@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Acumin, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "BroLink";
    font-weight: normal;
    src: local("BroLink"), url("./fonts/Brolink-Regular.ttf") format("truetype");
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: "Acumin";
    font-weight: normal;
    src: local("BroLink"), url("./fonts/Acumin-RPro.woff") format("woff");
    font-display: swap;
  }
}

.hero {
  background: rgb(0, 0, 0);
}

.brand {
  line-height: 0.7;
}
