@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Acumin, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: Acumin, sans-serif;
  background-image: url('../assets/background.png');

}


@layer base {
  @font-face {
    font-family: "BroLink";
    font-weight: normal;
    src: local("BroLink"), url("./fonts/Brolink-Regular.ttf") format("truetype");
    font-display: swap;
  }
}

@layer base {
  @font-face {
    font-family: "Acumin";
    font-weight: normal;
    src: local("Acumin"), url("./fonts/Acumin-RPro.woff") format("woff");
    
  }
}

.hero {
  background: rgb(0, 0, 0);
}

.brand {
  line-height: 0.7;
}


:root {
  --swiper-theme-color: #ce4912 !important;
}
